{% extends 'layout.html.twig' %}

{% block content %}
    <h2 class="title">Two-Factor Authentication</h2>

    <p>This account is protected by two-factor authentication. Please enter your code below to proceed.</p>

    <section class="row">
        <div class="col-md-6">
            {# Authentication errors #}
            {% if authenticationError %}
                <p class="alert alert-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
            {% endif %}

            <form action="{{ path("2fa_login_check") }}" method="post">
                <div class="form-group">
                    <label for="_auth_code">Authentication code:</label>
                    <div class="input-group">
                        <input id="_auth_code" class="form-control" type="text" autocomplete="off" name="{{ authCodeParameterName }}" />
                        <span class="input-group-addon"><span class="icon-key"></span></span>
                    </div>
                </div>

                {% if displayTrustedOption %}
                    <div class="form-group">
                        <div class="checkbox"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> Trust this computer for 30 days</label></div>
                    </div>
                {% endif %}

                <input type="submit" class="btn btn-block btn-primary btn-lg" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}" />

                {% if isCsrfProtectionEnabled %}
                    <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                {% endif %}
            </form>

            <hr>

            {# The logout link gives the user a way out if they can't complete two-factor authentication #}
            <a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}
