{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password col-md-6' } }) }}
        {{ form_errors(form) }}

        <div class="form-group clearfix">
            {{ form_label(form.current_password) }}
            <div class="input-group">
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password) }}
                <span class="input-group-addon"><span class="icon-key"></span></span>
            </div>
        </div>

        <div class="form-group clearfix">
            {{ form_label(form.plainPassword) }}
            <div class="input-group">
                {{ form_errors(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
                <span class="input-group-addon"><span class="icon-lock"></span></span>
            </div>
        </div>

        {{ form_widget(form) }}

        <input type="submit" class="btn btn-block btn-inverse btn-lg" value="Change password" />
    {{ form_end(form) }}
{% endblock fos_user_content %}
