{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_header %}
<h3 class="row title">
    <span class="col-md-6">Sign in</span>

    <span class="col-md-6">Or create new account</span>
</h3>
{% endblock %}

{% block fos_user_content %}
{# HWIOAuthBundle uses the same template for the login and the connect functionality currently
   so we need to check if the user is already authenticated. #}
<div class="col-md-6">
{% if not app.user %}
    {% if error is defined and error is not empty %}
        <div class="alert alert-warning">
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <div class="input-group">
                <input class="form-control input-lg" type="text" id="username" name="_username">
                <span class="input-group-addon"><span class="icon-user"></span></span>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <div class="input-group">
                <input class="form-control input-lg" type="text" id="password" name="_password">
                <span class="input-group-addon"><span class="icon-lock"></span></span>
            </div>
        </div>

        <div class="checkbox">
            <a class="pull-right" href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>

            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
                {{- 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>

        <hr>

        {% if packagist_host and packagist_host in app.request.headers.get('Referer') %}
            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('Referer') }}" />
        {% endif %}

        <input class="btn btn-block btn-success btn-lg" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>

    <hr>
{% endif %}

    {% for owner in hwi_oauth_resource_owners() %}
    <a class="btn btn-block btn-{{ owner }} btn-lg" href="{{ hwi_oauth_login_url(owner) }}"><span class="icon-{{ owner }}"></span>Login with {{ owner | trans({}, 'HWIOAuthBundle') }}</a>{% if not loop.last %}<br />{% endif %}
    {% endfor %}
</div>

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}
