{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <section class="row-fluid">
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

        {# HWIOAuthBundle uses the same template for the login and the connect functionality currently
           so we need to check if the user is already authenticated. #}
        <div class="span12">
        {% if not app.user %}
            <form class="offset1 span4" action="{{ path('login_check') }}" method="post">
                <div class="input-prepend">
                    <input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
                    <span class="add-on"><span class="icon-user"></span></span>
                </div>

                <div class="input-prepend">
                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                    <span class="add-on"><span class="icon-lock"></span></span>
                </div>

                {% if packagist_host and packagist_host in app.request.headers.get('Referer') %}
                    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('Referer') }}" />
                {% endif %}
                <input class="btn btn-primary span12" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </form>

            <div class="offset1 span4">
                {% for owner in hwi_oauth_resource_owners() %}
                    <a class="btn btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}"><span class="icon-{{ owner }}"></span>Login with {{ owner | trans({}, 'HWIOAuthBundle') }}</a>{% if not loop.last %}<br />{% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% for owner in hwi_oauth_resource_owners() %}
                <a class="btn btn-{{ owner }}" href="{{ hwi_oauth_login_url(owner) }}"><span class="icon-{{ owner }}"></span>Login with {{ owner | trans({}, 'HWIOAuthBundle') }}</a>{% if not loop.last %}<br />{% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </section>
{% endblock hwi_oauth_content %}
