{% extends "layout.html.twig" %}

{% block title %}{{ package.name }} - {{ parent() }}{% endblock %}

{% block content %}
<h2 class="title">
    <a href="{{ path("view_vendor", {vendor: package.vendor}) }}">{{ package.vendor }}/</a><a href="{{ path("view_package", {name: package.name}) }}">{{ package.packageName }}</a>
</h2>

<section class="row">
    {{ form_start(form, { attr: { class: 'col-sm-6' } }) }}
        {{ form_widget(form) }}

        <input class="btn btn-block btn-default btn-lg" type="submit" value="{{ 'abandon.submit'|trans }}" />
    {{ form_end(form) }}

    <div class="col-sm-6">
        {{ 'abandon.warning'|trans|raw }}
    </div>
</section>
{% endblock %}
