{% extends "layout.html.twig" %}

{% set showSearchDesc = 'hide' %}

{% block head_additions %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block title %}{{ 'packages.dependant_title'|trans }} - {{ name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 package">
            <div class="package-header">
                <h2 class="title">
                    <a href="{{ path("view_package", {name: name}) }}">{{ name }}</a> {{ 'packages.dependents'|trans }}
                    <small>({{ count }})</small>
                    <small>
                        Order by:
                        {% if order_by == 'name' %}name{% else %}<a href="{{ path("view_package_dependents", {name: name, order_by: 'name'}) }}">name</a>{% endif %} |
                        {% if order_by == 'downloads' %}downloads{% else %}<a href="{{ path("view_package_dependents", {name: name, order_by: 'downloads'}) }}">downloads</a>{% endif %}
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <section class="row">
        <section class="col-md-12">
        {% embed "web/list.html.twig" with {noLayout: 'true', showAutoUpdateWarning: false} %}
            {% block content_title %}
            {% endblock %}
        {% endembed %}
        </section>
    </section>
{% endblock %}
