{% extends "layout.html.twig" %}

{% set showSearchDesc = 'hide' %}

{% block head_additions %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block title %}{{ ('packages.filter_lists.' ~ category.value)|trans }} - {{ name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 package">
            <div class="package-header">
                <h2 class="title">
                    <a href="{{ path("view_package", {name: name}) }}">{{ name }}</a>
                    {{ ('packages.filter_lists.' ~ category.value)|trans }}
                    {% if version is defined %}
                        for {{ version }}
                    {% endif %}
                    <small>({{ count }})</small>
                </h2>
            </div>
        </div>
    </div>

    {% include 'package/_filter_list_entries_list.html.twig' %}
{% endblock %}
