{% extends "layout.html.twig" %}

{% set showSearchDesc = 'hide' %}

{% block head_additions %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block title %}Suspect Packages - {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9 package">
            <div class="package-header">
                <h2 class="title">
                    Suspect Packages
                    <small>({{ count }})</small>
                </h2>
            </div>
        </div>
        <div class="col-xs-3">
            <form class="action" action="{{ path("mark_nospam") }}" method="POST">
                {% for p in packages %}
                    <input type="hidden" name="vendor[]" value="{{ p.name|vendor }}" />
                {% endfor %}
                <input type="hidden" name="token" value="{{ markSafeCsrfToken }}" />
                <input class="btn btn-danger" type="submit" value="Mark Whole Page As Not Spam" />
            </form>
        </div>
    </div>

    <section class="row">
        <section class="col-md-12">
        {% embed "web/list.html.twig" with {noLayout: 'true', showAutoUpdateWarning: false} %}
            {% block content_title %}
            {% endblock %}
        {% endembed %}
        </section>
    </section>
    <div class="row">
        <div class="col-xs-3">
            <form class="action" action="{{ path("mark_nospam") }}" method="POST">
                {% for p in packages %}
                    <input type="hidden" name="vendor[]" value="{{ p.name|vendor }}" />
                {% endfor %}
                <input type="hidden" name="token" value="{{ markSafeCsrfToken }}" />
                <input class="btn btn-danger" type="submit" value="Mark Whole Page As Not Spam" />
            </form>
        </div>
    </div>
{% endblock %}
