{% extends "layout.html.twig" %}

{% block scripts %}
    <script src="{{ asset('js/submitPackage.js')}}"></script>
{% endblock %}

{% set showSearchDesc = 'hide' %}

{% block content %}
<h2 class="title">{{ 'submit.title'|trans }}</h2>

<section class="row">
    {{ form_start(form, { attr: { class: 'col-md-6', 'data-check-url': path('submit.fetch_info'), id: 'submit-package-form' } }) }}
        {{ form_widget(form) }}

        {{ form_rest(form) }}

        <input class="btn btn-block btn-success btn-lg" id="submit" type="submit" value="{{ 'submit.submit'|trans }}" />

        <br />
        <h3>Trying to share private code?</h3>
        <p>Use <a href="https://packagist.com">Private Packagist</a> to share code through Composer without publishing it for everyone on Packagist.org.</p>
    {{ form_end(form) }}

    <div class="col-md-6">
        {{ 'submit.guide'|trans({ '%path_about%': path('about') })|raw }}
    </div>
</section>
{% endblock %}
