<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit span4">
    {{ form_errors(form) }}

    {{ form_label(form.username) }}
    <div class="input-prepend">
        {{ form_widget(form.username) }}
        <span class="add-on"><span class="icon-user"></span></span>
    </div>

    {{ form_label(form.email) }}
    <div class="input-prepend">
        {{ form_widget(form.email) }}
        <span class="add-on"><span class="icon-mail"></span></span>
    </div>

    {{ form_label(form.current_password) }}
    <div class="input-prepend">
        {{ form_widget(form.current_password) }}
        <span class="add-on"><span class="icon-lock"></span></span>
    </div>

    <div class="notifications">
        <label class="checkbox" for="failureNotifications">
            {{ form_widget(form.failureNotifications) }}
            Notify me of package update failures
        </label>
    </div>

    <div>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

<div class="span4">
    <h5>Using GitHub:</h5>

    <a href="{{ app.user.githubId ? '#' : hwi_oauth_login_url('github') }}" class="btn btn-github {{ app.user.githubId ? 'disabled' : '' }}">
        <span class="icon-github" style="margin: 0 30px 0 50px"></span>
        {{ app.user.githubId ? 'Accounts connected' : 'Connect accounts' }}
    </a>
</div>