{% extends "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% block content %}
<h2 class="title">
    {{ user.username }} <small>(that's you!)</small>
</h2>

<section class="row">
    <div class="span3">
        {{ knp_menu_render('profile_menu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
    </div>

    <section class="span9">
        {%- if app.user.apiToken %}
            <h3 class="font-normal">Your API Token</h3>
            <p>
                <a id="show-api-token" href="#">Show API Token</a>
            </p>
            <pre id="api-token" class="hidden"><code>{{ app.user.apiToken }}</code></pre>
            <p>You can use your API token to interact with the Packagist API.</p>

            <h3 class="font-normal">GitHub Service Hook</h3>
            <p>Enabling the Packagist service hook ensures that your package will always be updated instantly when you push to GitHub. To do so you can go to your GitHub repository, click the "Settings" button, then "Service Hooks". Pick "Packagist" in the list, and add your API token (see above), plus your Packagist username if it is not the same as on GitHub. Check the "Active" box and submit the form.</p>

            <h3 class="font-normal">Bitbucket POST Service</h3>
            <p>To enable the Bitbucket service hook, go to your BitBucket repository, open the "Admin" tab and select "Services" in the menu. Pick "POST" in the list and add it to your repository. Afterwards, you have to enter the Packagist endpoint, containing both your username and API token (see above). Enter <code>https://packagist.org/api/bitbucket?username={{ app.user.username }}&amp;apiToken=&hellip;</code> for the service's URL. Save your changes and you're done.</p>
        {%- endif %}

        <h3 class="font-normal">Your packages</h3>
        {% if packages|length %}
            {{ macros.listPackages(packages, true, true, meta) }}
        {% else %}
            <p>No packages found.</p>
        {% endif %}
    </section>
</section>
{% endblock %}
