{% extends 'organization/layout.html.twig' %}

{% block title %}Members - {{ organization.displayName }} - {{ parent() }}{% endblock %}

{% set canRemove = is_granted(enum('App\\Security\\Voter\\OrganizationActions').RemoveMember.value, organization) %}

{% block org_content %}
    <h3 class="title">Members</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Member</th>
                <th>Teams</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.user ? member.user.username : '(unknown user #' ~ member.userId ~ ')' }}</td>
                    <td>
                        {% for team in member.teams %}
                            <span class="label label-default">{{ team.name }}</span>
                        {% endfor %}
                    </td>
                    <td class="text-right">
                        {% if app.user and member.userId == app.user.id %}
                            <a class="btn btn-xs btn-default" href="{{ path('organization_member_leave', { organization: organization.slug }) }}">Leave</a>
                        {% elseif canRemove and member.user %}
                            <a class="btn btn-xs btn-danger" href="{{ path('organization_member_remove', { organization: organization.slug, organizationMember: member.user.username }) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
