{% extends 'organization/layout.html.twig' %}

{% block title %}Create a team - {{ organization.displayName }} - {{ parent() }}{% endblock %}

{% block org_content %}
    <h3 class="title">Create a team</h3>

    {{ form_start(form, { 'attr': { 'class': 'organization_team_create' } }) }}
        {{ form_errors(form) }}
        <div class="form-group clearfix">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_help(form.name) }}
        </div>
        <input class="btn btn-success" type="submit" value="Create team" />
        <a class="btn btn-default" href="{{ path('organization_teams', { organization: organization.slug }) }}">Cancel</a>
    {{ form_end(form) }}
{% endblock %}
