{% extends "PackagistWebBundle::layout.html.twig" %}

{% block scripts %}
    <script src="{{ asset('bundles/packagistweb/js/submitPackage.js')}}"></script>
{% endblock %}

{% block content %}
    <h1>Submit package</h1>
    <form action="" method="POST" {{ form_enctype(form) }}>
        <div id="form">
            {{ form_widget(form) }}
            Package Name: {{ package.name }}
            Package Repository {{ package.repository }}
            <input id="submit" type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}