{% extends "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% block content %}
    <div class="box clearfix">
        {% block content_title %}<h1>Packages</h1>{% endblock %}
        {% block lists %}
            <div class="packages-short">
                <h2>New Releases <a href="{{ url('feed_releases', {_format: 'rss'}) }}">RSS</a></h2>
                <ul>
                    {% for version in newlyReleased %}
                        <li><a href="{{ path('view_package', {name: version.name}) }}">{{ version.name }} {{ version.version }}</a> {{ version.description|truncate(40) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="packages-short">
                <h2>New Packages <a href="{{ url('feed_packages', {_format: 'rss'}) }}">RSS</a></h2>
                <ul>
                    {% for pkg in newlySubmitted %}
                        <li><a href="{{ path('view_package', {name: pkg.name}) }}">{{ pkg.name }}</a> {{ pkg.description|truncate(40) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="packages-short">
                <h2>Popular Packages</h2>
                <ul>
                    {% for pkg in popular %}
                        <li><a href="{{ path('view_package', {name: pkg.name}) }}">{{ pkg.name }}</a> {{ pkg.description|truncate(40) }}</li>
                    {% endfor %}
                    <li><a href="{{ path('browse_popular') }}">See more...</a></li>
                </ul>
            </div>
            <div class="packages-short">
                <h2>Random Packages</h2>
                <ul>
                    {% for pkg in random %}
                        <li><a href="{{ path('view_package', {name: pkg.name}) }}">{{ pkg.name }}</a> {{ pkg.description|truncate(40) }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    </div>
{% endblock %}