{% extends "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% block content %}
    {% block content_title %}<h2 class="title">Packages</h2>{% endblock %}
    {% block lists %}
    <section class="row">
        <section class="packages-short col-lg-6">
            <h3>New Releases <a href="{{ url('feed_releases', {_format: 'rss'}) }}">RSS</a></h3>

            {{ macros.listPackagesShort(newlyReleased, true) }}
        </section>

        <section class="packages-short col-lg-6">
            <h3>New Packages <a href="{{ url('feed_packages', {_format: 'rss'}) }}">RSS</a></h3>

            {{ macros.listPackagesShort(newlySubmitted) }}
        </section>

        <div class="clearfix visible-lg-block"></div>

        <section class="packages-short col-lg-6">
            <h3>Popular Packages <a href="{{ path('browse_popular') }}">View All</a></h3>

            {{ macros.listPackagesShort(popular, false, true) }}
        </section>

        <section class="packages-short col-lg-6">
            <h3>Random Packages</h3>

            {{ macros.listPackagesShort(random) }}
        </section>
    </section>
    {% endblock %}
{% endblock %}
