{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <h1>Packages</h1>
    {% for package in packages %}
        <section class="package">
            <h2><a href="{{ url('view', { 'id' : package.id }) }}">{{ package.name }}</a></h2>
            {% if package.versions is not empty %}
                <p class="description">{{ package.versions[0].description }}</p>
                <p class="license">License: {{ package.versions[0].license|default("Unknown") }}</p>
                <p class="links">
                    {% if package.versions[0].homepage %}
                        Homepage: <a href="{{ package.versions[0].homepage }}">{{ package.versions[0].homepage|replace({'http://': ''}) }}</a><br />
                    {% endif %}
                    Tags: {% for tag in package.versions[0].tags %}{{ tag.name }}{{ loop.last ? '' : ', ' }}{% endfor %}
                </p>
                <p class="author">Maintainer{{ package.maintainers|length > 1 ? 's' : '' }}:
                {% for maintainer in package.maintainers %}
                    {{ maintainer.username }}{{ loop.last ? '' : ', ' }}
                {% endfor %}</p>
            {% elseif package.crawledAt is null %}
                This package has not been crawled yet, some information is missing.
            {% else %}
                This package has no released version yet, and little information is available yet.
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}