<form id="search-form" action="{{ path('search.ajax') }}" method="GET" {{ form_enctype(searchForm) }} autocomplete="off">
    <div class="{% if orderBys is defined %}sortable{% endif %}">
        {{ form_errors(searchForm.query) }}
        {{ form_widget(searchForm.query, {'attr': {'autocomplete': 'off', 'autofocus': 'autofocus', 'placeholder': 'Search packages...', 'tabindex': 1}}) }}

        {% set hasActiveOrderBy = false %}
        {% spaceless %}
        <div id="order-bys-wrapper"{% if searchForm.vars.value.query is empty %} class="hidden"{% endif %}>
            {% for sort, param in orderBys %}
                <a title="{{ param.title }}" href="{{ param.href }}" class="order-by-group">
                    <i class="glyphicon {{ param.class }}{% if param.arrowClass is not empty %} active{% endif %}"></i>
                    {% if param.arrowClass is not empty %}
                        <i class="glyphicon {{ param.arrowClass }} active"></i>
                        {% set hasActiveOrderBy = true %}
                    {% endif %}
                </a>
            {% endfor %}
            {% if hasActiveOrderBy %}
                <a title="Clear order bys" href="?q={{ searchForm.vars.value.query }} active" class="clear">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            {% endif %}
        </div>
        {% endspaceless %}
        <div
            class="hidden">
            {{ form_widget(searchForm.orderBys) }}
        </div>
        {{ form_rest(searchForm) }}
    </div>
</form>

