{{ form_start(searchForm, { attr: { id: 'search-form', autocomplete: 'off' } }) }}
    <div class="{% if orderBys is defined %}sortable{% endif %} row">
        <div class="hidden">{{ form_errors(searchForm.query) }}</div>
        <div class="{% if searchForm.vars.value.query is empty %}col-xs-12{% else %}col-xs-8{% endif %} js-search-field-wrapper col-md-9">
            {{ form_widget(searchForm.query, {'attr': {'autocomplete': 'off', 'placeholder': 'Search packages...', 'tabindex': 1}}) }}
        </div>

        {{ form_rest(searchForm) }}

    </div>
{{ form_end(searchForm) }}
