{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    {% set packageCount = 0 %}
    <div class="box clearfix">
        <h1>Statistics</h1>
        <h2>Packages/versions over time</h2>
        <p><img src="http://chart.apis.google.com/chart?chxr=0,0,{{ versions }}&amp;chxl=1:|{{ chart.months|join('|') }}&amp;chxt=y,x&amp;chs=900x250&amp;chds=0,{{ versions }},0,{{ versions }}&amp;cht=lc&amp;chco=0000FF,FF9900&amp;chd=t:{{ chart.versions|join(',') }}|{{ chart.packages|join(',') }}&amp;chdl=Versions|Packages&amp;chls=2|2" /></p>

        <h2>Totals</h2>
        <p>{{ packages }} packages</p>
        <p>{{ versions }} versions</p>
        <p>{{ downloads }} packages installed since 2012-04-13</p>
    </div>
{% endblock %}