{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <h1>Submit a new {{ package.name }} version</h1>
    <form action="" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <p>
            {{ form_label(form.version, "Version (x.y.x, optionally suffixed with -dev, -beta, -alpha or RC + an optional number)") }}
            {{ form_errors(form.version) }}
            {{ form_widget(form.version) }}
        </p>
        <p>
            {# TODO: plug a jQuery calendar on top of this #}
            {{ form_label(form.releasedAt, "Release Date (YYYY-MM-DD)") }}
            {{ form_errors(form.releasedAt) }}
            {{ form_widget(form.releasedAt) }}
        </p>
        <p>
            {{ form_label(form.source, "Source (<type (git, svn)> <url>)") }}
            {{ form_errors(form.source) }}
            {{ form_widget(form.source) }}
        </p>
        <p>
            {{ form_label(form.require, "Required packages (<package name> <version spec>, one per line)") }}
            {{ form_errors(form.require) }}
            {{ form_widget(form.require) }}
        </p>
        <p>
            {{ form_label(form.description, "Description") }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </p>
        <p>
            {{ form_label(form.tagsText, "Tags") }}
            {{ form_errors(form.tagsText) }}
            {{ form_widget(form.tagsText) }}
        </p>
        <p>
            {{ form_label(form.homepage, "Homepage URL") }}
            {{ form_errors(form.homepage) }}
            {{ form_widget(form.homepage) }}
        </p>
        <p>
            {{ form_label(form.license, "License (MIT, GPL, ..)") }}
            {{ form_errors(form.license) }}
            {{ form_widget(form.license) }}
        </p>
        {{ form_rest(form) }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}