{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <h1>Submit package</h1>
    <form action="" method="POST" {{ form_enctype(form) }}>
        <div id="form">
            {{ form_errors(form) }}
            <p>
                {{ form_label(form.repository, "Repository URL (Git only at the moment)") }}
                {{ form_errors(form.repository) }}
                {{ form_widget(form.repository) }}
            </p>
            {{ form_rest(form) }}
            <input id="submit" type="submit" value="Submit" />
        </div>
        <div id="confirmation_panel" style="display:none;">
            Please confirm:<br />
            Package name:<span id="package_name"></span> <br />
            Repository:<span id="repo_name"></span><br />
            <input id="confirm" type="submit" value="Submit" />
        </div>
    </form>
    <script>
        $(document).ready(function() {
            
            $('#submit').click(function(){
                var repo_name = $('#package_repository').val();
                $('#form').hide();
                
                $.getJSON('{{ path("name") }}', { url: repo_name }, function(data) {
                    $('#package_name').html(data);
                    $('#repo_name').html(repo_name);
                    $('#confirmation_panel').show();
                });
                return false;
            });
        });
        
    </script>
{% endblock %}