{% extends "PackagistWebBundle::layout.html.twig" %}

{% block scripts %}
    <script src="{{ asset('bundles/packagistweb/js/submitPackage.js')}}"></script>
{% endblock %}

{% block content %}
    <h1>Submit package</h1>
    <p>Please make sure you have read the package <a href="{{ path('about') }}">naming conventions</a> before submitting your package. The authoritative name of your package will be taken from the composer.json file inside the master branch of your repository, and it can not be changed after that.</p>
    <form id="submit-package-form" action="" data-check-url="{{ path('submit.fetch_info') }}" method="POST" {{ form_enctype(form) }}>
        <div>
            <p>
                {{ form_label(form.repository, "Repository URL (Git only at the moment)") }}
                {{ form_errors(form.repository) }}
                {{ form_widget(form.repository) }}
            </p>
            {{ form_rest(form) }}
            <input id="submit" type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}