{% extends "PackagistWebBundle::layout.html.twig" %}
{% import "PackagistWebBundle::macros.html.twig" as packagist %}

{% block title %}{{ package.name }} - {{ parent() }}{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/packagistweb/js/view.js?v=3')}}"></script>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="package"{% if app.user and package.maintainers.contains(app.user) and package.crawledAt is null %} data-force-crawl="true"{% endif %}>
            {% if app.user and package.maintainers.contains(app.user) %}
                <form class="force-update" action="{{ path('update_package', {name: package.name}) }}" method="POST">
                    <input type="hidden" name="_method" value="PUT" />
                    <input type="hidden" name="update" value="1" />
                    <input type="submit" value="Force package update" />
                </form>
            {% endif %}
            <h1>
                <a href="{{ path("view_vendor", {"vendor": package.vendor}) }}">{{ package.vendor }}/</a>{{ package.packageName }}
            </h1>
            {% if package.versions|length and package.versions[0].tags|length %}
                <p class="tags">
                    {%- for tag in package.versions[0].tags -%}
                        <a href="{{ url("browse", { "tag" : tag.name }) }}">{{ tag.name }}</a>
                    {%- endfor -%}
                </p>
            {% endif %}

            <p class="description">{{ package.description }}</p>
            <p class="details">
                <span>Maintainer{{ package.maintainers|length > 1 ? 's' : '' }}:</span>
                {% for maintainer in package.maintainers %}
                    <a href="{{ path('user_profile', {'name': maintainer.username}) }}">{{ maintainer.username }}</a>{{ loop.last ? '' : ', ' }}
                {% endfor %}
                {% if form is defined %}(<a id="add-maintainer" href="{{ path('add_maintainer', {'name': package.name}) }}">add maintainer</a>){% endif %}
                <br />
                {% if package.versions|length and package.versions[0].homepage %}
                    <span>Homepage:</span> <a href="{{ package.versions[0].homepage }}">{{ package.versions[0].homepage|replace({'http://': ''}) }}</a><br />
                {% endif %}
                <span>Repository:</span> <a href="{{ package.repository|replace({'git://github.com/': 'http://github.com/'}) }}">{{ package.repository }}</a>
            </p>

            {% if form is defined %}
                <div>
                    <form id="add-maintainer-form" class="{{ show_maintainer_form|default(false) ? '': 'hidden' }}" action="{{ path('add_maintainer', {'name': package.name}) }}" method="POST" {{ form_enctype(form) }}>
                        <div>
                            <h2>Add Maintainer</h2>
                            <p>
                                {{ form_label(form.user, "Username") }}
                                {{ form_errors(form.user) }}
                                {{ form_widget(form.user) }}
                            </p>
                            {{ form_rest(form) }}
                            <input id="submit" type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if package.versions|length %}
                <ul class="versions">
                    {% for version in package.versions %}
                        <li class="version{% if loop.last %} last{% endif %}">
                            <section>
                                <h1>
                                    {{ version.version }}
                                    {% if version.hasVersionAlias() %}
                                        / {{ version.versionAlias }}
                                    {% endif %}
                                    <span class="release-date">{{ version.releasedAt|date("Y-m-d H:i") }} UTC</span>
                                    <span class="license">{{ version.license ? version.license|join(', ') : '' }}</span>
                                </h1>

                                <div class="details {% if loop.index0 == 0 %} open{% endif %}">
                                    <h2 class="authors">Author{{ version.authors|length > 1 ? 's' : '' }}</h2>
                                    <ul>
                                        {% for author in version.authors %}
                                            <li>
                                                {%- if author.homepage -%}
                                                    <a href="{{ author.homepage }}">{{ author.name }}</a>
                                                {%- else -%}
                                                    {{ author.name }}
                                                {%- endif -%}
                                                {% if author.email %} &lt;<a href="mailto:{{ author.email }}">{{ author.email }}</a>&gt;{% endif -%}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="clearfix package-links">
                                        {% for type in ["require", "recommend", "suggest", "provide", "conflict", "replace"] %}
                                            <div class="{{ type }}s">
                                                <h2>{{ type|title }}s</h2>
                                                {% if attribute(version, type)|length %}
                                                    <ul>
                                                        {%- for link in attribute(version, type) -%}
                                                            <li>{{ packagist.packageLink(link.packageName) }}: {{ link.packageVersion == 'self.version' ? version.version : link.packageVersion }}</li>
                                                        {%- endfor -%}
                                                    </ul>
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="details-toggler{% if loop.index0 == 0 %} open{% endif %}"></div>
                            </section>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif package.crawledAt is null %}
                <p>This package has not been crawled yet, some information is missing.</p>
            {% else %}
                <p>This package has no released version yet, and little information is available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}