<strong>
    {%- if display.packageName is existing_package -%}
        <a href="{{ path('view_package', { 'name': display.packageName }) }}">{{ display.packageName }}</a>
    {%- else -%}
        {{ display.packageName }}
    {%- endif -%}
</strong><br>
Repository: {{ display.repository }}<br>
Deleted by: {{ display.actor.username }}
