<strong>
    {%- if display.packageName is existing_package -%}
        <a href="{{ path('view_package', { 'name': display.packageName }) }}">{{ display.packageName }}</a>
    {%- else -%}
        {{ display.packageName }}
    {%- endif -%}
</strong> {{ display.version }}<br>
{% if display.sourceFrom or display.sourceTo %}
    Source: {{ display.sourceFrom ?? 'none' }} → {{ display.sourceTo ?? 'none' }}<br>
{% endif %}
{% if display.distFrom or display.distTo %}
    Dist: {{ display.distFrom ?? 'none' }} → {{ display.distTo ?? 'none' }}<br>
{% endif %}
Changed by: {{ display.actor.username }}
