<strong>
    {%- if display.packageName is existing_package -%}
        <a href="{{ path('view_package', { 'name': display.packageName }) }}">{{ display.packageName }}</a>
    {%- else -%}
        {{ display.packageName }}
    {%- endif -%}
</strong> {{ display.version }}<br>
{% if display.sourceReference %}
    Source: {{ display.sourceReference }}<br>
{% endif %}
{% if display.distReference %}
    Dist: {{ display.distReference }}<br>
{% endif %}
Created by: {{ display.actor.username }}