<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password span4">
    {{ form_errors(form) }}

    {{ form_label(form.current_password, 'Current password') }}
    <div class="input-prepend">
        {{ form_widget(form.current_password) }}
        <span class="add-on"><span class="icon-key"></span></span>
    </div>

    {{ form_label(form.new.first, 'New password') }}
    <div class="input-prepend">
        {{ form_widget(form.new.first) }}
        <span class="add-on"><span class="icon-lock"></span></span>
    </div>

    {{ form_label(form.new.second, 'Confirm new password') }}
    <div class="input-prepend">
        {{ form_widget(form.new.second) }}
        <span class="add-on"><span class="icon-lock-open"></span></span>
    </div>

    {{ form_widget(form) }}

    <div>
        <input type="submit" class="btn btn-inverse" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>