{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password col-md-6' } }) }}
    {{ form_errors(form) }}

    <div class="form-group clearfix">
        {{ form_label(form.current_password, 'Current password') }}
        <div class="input-group">
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password) }}
            <span class="input-group-addon"><span class="icon-key"></span></span>
        </div>
    </div>

    <div class="form-group clearfix">
        {{ form_label(form.plainPassword.first, 'New password') }}
        <div class="input-group">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            <span class="input-group-addon"><span class="icon-lock"></span></span>
        </div>
    </div>

    <div class="form-group clearfix">
        {{ form_label(form.plainPassword.second, 'Confirm new password') }}
        <div class="input-group">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            <span class="input-group-addon"><span class="icon-lock-open"></span></span>
        </div>
    </div>

    {{ form_widget(form) }}

    <input type="submit" class="btn btn-block btn-inverse btn-lg" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
{{ form_end(form) }}
