{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}

<form action="/login_check" method="post">
    <div>
        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div>
        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />
    </div>

    <div>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>

<a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
{% endblock fos_user_content %}
