{% extends "PackagistWebBundle::layout.html.twig" %}

{% block title %}{{ package.name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="box">
        <h1>
            <a href="{{ path("view_vendor", {vendor: package.vendor}) }}">{{ package.vendor }}/</a><a href="{{ path("view_package", {name: package.name}) }}">{{ package.packageName }}</a>
        </h1>

        <p>You are about to mark this package as abandoned. This will alert users that this package will no longer be maintained.</p>
        <p>If you are handing this project over to a new maintainer or know of a package that replaces it, please use
            the field below to point users to the new package. In case you cannot point them to a new package, this one
            will be tagged as abandoned and a replacement can be added later.</p>

        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" value="Abandon Package" />
        </form>
    </div>
{% endblock %}
