{% macro listPackages(packages, paginate) %}
    <ul class="packages">
        {% for package in packages %}
            <li>
                <h1><a href="{{ path('view_package', { 'name' : package.name }) }}">{{ package.name }}</a></h1>
                {% if package.versions|length and package.versions[0].description|length %}
                    <p class="package-description">{{ package.versions[0].description }}</p>
                {% endif %}
            </li>
        {% endfor %}

        {% if paginate is defined and paginate and packages.nbPages > 1 %}
            {{ pagerfanta(packages, 'default', {'proximity': 2}) }}
        {% endif %}
    </ul>
{% endmacro %}

{% macro package_link(package_name) %}
    
    {% if not packagist_is_package_name(package_name) %}
        {{ package_name }}
    {% else %}
        {% if packagist_package_exists(package_name) %}
            <a href="{{ path('view_package', { 'name': package_name }) }}">{{ package_name }}</a>
        {% else %}
            {{ package_name }}
        {% endif %}
    {% endif %}

{% endmacro %}
