{% extends "admin/layout.html.twig" %}

{% block title %}Organizations - {{ parent() }}{% endblock %}

{% block admin_content %}
    <div class="row">
        <div class="col-xs-12 package">
            <div class="package-header">
                <h2 class="title">
                    Organizations
                    <small>({{ organizations|length }})</small>
                </h2>
                <p>Manage and moderate organizations.</p>
            </div>
        </div>
    </div>

    <div class="clearfix" style="margin-bottom: 15px">
        <a href="{{ path('admin_organization_create') }}" class="btn btn-success pull-right">Create organization</a>
    </div>

    {% if organizations is empty %}
        <p>There are no organizations yet.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {% for organization in organizations %}
                    <tr>
                        <td>
                            <a href="{{ path('organization_show', { organization: organization.slug }) }}">{{ organization.displayName }}</a>
                            {% if organization.deleted %}
                                <span class="label label-warning">deleted</span>
                            {% endif %}
                        </td>
                        <td><code>{{ organization.slug }}</code></td>
                        <td>{{ organization.createdAt|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
