{% macro packageLink(packageName) %}
    {%- if packageName is existing_package -%}
        <a href="{{ path('view_package', { 'name': packageName }) }}">{{ packageName }}</a>
    {%- else -%}
        {{ packageName }}
    {%- endif -%}
{% endmacro %}

{% macro userLink(username) %}
    {%- if username is existing_user -%}
        <a href="{{ path('user_profile', { 'name': username }) }}">{{ username }}</a>
    {%- else -%}
        {{ username }}
    {%- endif -%}
{% endmacro %}

{% macro organizationLink(organization) %}
    {%- if organization.slug is existing_organization -%}
        <a href="{{ path('organization_show', { 'organization': organization.slug }) }}">{{ organization.displayName }}</a>
    {%- else -%}
        {{ organization.displayName }}
    {%- endif -%}
{% endmacro %}
