{% macro packageLink(packageName) %}
    {%- if packageName is existing_package -%}
        <a href="{{ path('view_package', { 'name': packageName }) }}">{{ packageName }}</a>
    {%- else -%}
        {{ packageName }}
    {%- endif -%}
{% endmacro %}

{% macro organizationLink(slug) %}
    {%- if slug is existing_organization -%}
        <a href="{{ path('organization_show', { 'organization': slug }) }}">{{ slug }}</a>
    {%- else -%}
        {{ slug }}
    {%- endif -%}
{% endmacro %}
