{% extends "layout.html.twig" %}

{% block title %}
    Packagist - Transparency Log
{% endblock %}

{% block content %}
    <h2 class="title">Transparency Log</h2>

    <form method="get" action="{{ path('view_audit_logs') }}" name="filters">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="type-filter">Type:</label>
                    <select name="type[]" id="type-filter" multiple>
                        {% for type in allTypes %}
                            <option value="{{ type.value }}" {% if type.value in selectedFilters.type %}selected="selected"{% endif %}>
                                {{ ('audit_log.type.'~type.value)|trans }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Filter">
                <input type="reset" value="Reset">
            </div>
        </div>
    </form>

    {% if auditLogDisplays|length %}
        <table class="table audit-log-table">
            <thead>
            <tr>
                <th class="audit-log-datetime">Date & Time</th>
                <th class="audit-log-type">Type</th>
                <th class="audit-log-details">Details</th>
                {% if is_granted('ROLE_AUDITOR') %}
                  <th class="audit-log-ip">IP</th>
                {% endif  %}
            </tr>
            </thead>
            <tbody>
                {% for display in auditLogDisplays %}
                    <tr>
                        <td class="audit-log-datetime">{{ display.dateTime|date('Y-m-d H:i:s') }} UTC</td>
                        <td class="audit-log-type" data-test="audit-log-type">{{ display.typeTranslationKey|trans }}</td>
                        <td class="audit-log-details">
                            {% include display.templateName with {display} only %}
                        </td>
                        {% if is_granted('ROLE_AUDITOR') %}
                            <td class="audit-log-ip">{{ display.ip }}</td>
                        {% endif  %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if auditLogPaginator.haveToPaginate() %}
            {{ pagerfanta(auditLogPaginator, 'twitter_bootstrap', {'proximity': 2}) }}
        {% endif %}
    {% else %}
        <div class="alert alert-info">
            <p>No audit logs found.</p>
        </div>
    {% endif %}
{% endblock %}
