{% extends "layout.html.twig" %}

{% block title %}
    Packagist - Transparency Log
{% endblock %}

{% block content %}
    <h2 class="title">Transparency Log</h2>

    <div class="audit-log-filters">
        <form method="get" action="{{ path('view_audit_logs') }}" name="filters">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label for="type-filter">Type</label>
                        <select name="type[]" id="type-filter" class="form-control audit-log-type-select" multiple size="10">
                            {% for category, types in groupedTypes %}
                                <optgroup label="{{ category|capitalize }}">
                                    {% for type in types %}
                                        <option value="{{ type.value }}" {% if type.value in selectedFilters.type %}selected="selected"{% endif %}>
                                            {{ ('audit_log.type.' ~ type.value)|trans }}
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                        <small class="help-block">Hold Ctrl/Cmd to select multiple</small>
                    </div>
                </div>
                <div class="col-md-9 col-sm-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="actor-filter">Actor</label>
                                <input type="text" name="actor" id="actor-filter" class="form-control" value="{{ selectedFilters.actor }}" placeholder="Filter by username">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="user-filter">User</label>
                                <input type="text" name="user" id="user-filter" class="form-control" value="{{ selectedFilters.user }}" placeholder="Filter by username">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="vendor-filter">Vendor</label>
                                <input type="text" name="vendor" id="vendor-filter" class="form-control" value="{{ selectedFilters.vendor }}" placeholder="Filter by vendor">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="package-filter">Package Name</label>
                                <input type="text" name="package" id="package-filter" class="form-control" value="{{ selectedFilters.package }}" placeholder="Filter by package name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="audit-log-filter-actions">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-filter"></span> Apply Filters
                        </button>
                        <a href="{{ url('view_audit_logs') }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove-circle"></span> Clear All Filters
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if auditLogDisplays|length %}
        <table class="table audit-log-table">
            <thead>
            <tr>
                <th class="audit-log-datetime">Date & Time</th>
                <th class="audit-log-type">Type</th>
                <th class="audit-log-details">Details</th>
                {% if is_granted('ROLE_AUDITOR') %}
                  <th class="audit-log-ip">IP</th>
                {% endif  %}
            </tr>
            </thead>
            <tbody>
                {% for display in auditLogDisplays %}
                    <tr>
                        <td class="audit-log-datetime">{{ display.dateTime|date('Y-m-d H:i:s') }} UTC</td>
                        <td class="audit-log-type" data-test="audit-log-type">{{ display.typeTranslationKey|trans }}</td>
                        <td class="audit-log-details">
                            {% include display.templateName with {display} only %}
                        </td>
                        {% if is_granted('ROLE_AUDITOR') %}
                            <td class="audit-log-ip">{{ display.ip }}</td>
                        {% endif  %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if auditLogPaginator.haveToPaginate() %}
            {{ pagerfanta(auditLogPaginator, 'twitter_bootstrap', {'proximity': 2}) }}
        {% endif %}
    {% else %}
        <div class="alert alert-info">
            <p>No audit logs found.</p>
        </div>
    {% endif %}
{% endblock %}
