{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <h1>Packages by {{ user.username }}</h1>
    {% for package in user.packages %}
        <section class="package">
            <h2>{{ package.name }}</h2>
            {% if package.versions[0] is defined %}
                <p class="description">{{ package.versions[0].description }}</p>
                <p class="license">License: {{ package.versions[0].license|default("Unknown") }}</p>
                <p class="links">
                    {% if package.versions[0].homepage %}
                        Homepage: <a href="{{ package.versions[0].homepage }}">{{ package.versions[0].homepage|replace({'http://': ''}) }}</a><br />
                    {% endif %}
                    Tags: {% for tag in package.versions[0].tags %}{{ tag.name }}{{ loop.last ? '' : ', ' }}{% endfor %}
                </p>
            {% elseif package.crawledAt == null %}
                This package has not been crawled yet, some information is missing.
            {% else %}
                This package has no released version yet, and little information is available yet.
            {% endif %}
        </section>
    {% endfor %}
{% endblock %}