{% extends "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}


{% block content %}
    <div class="box clearfix">
        <h1>{{ user.username }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <p>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        <p>Member since {{ user.createdAt|date('M d, Y') }}
        <h2>Packages</h2>
        {% if packages|length %}
            {{ macros.listPackages(packages, true, false, meta) }}
        {% else %}
            <p>No packages found.</p>
        {% endif %}
    </div>
{% endblock %}