{% extends "user/layout.html.twig" %}

{% block title %}Log in - {{ parent() }}{% endblock %}

{% block user_content %}
    {% if app.user %}
        <div class="col-xs-6">
            <p>You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Log out</a></p>
        </div>
    {% else %}
        <div class="col-xs-12">
            <h2 class="title">
                Sign in
            </h2>
        </div>
        <div class="col-md-6">
            {% if error is defined and error is not empty %}
                <div class="alert alert-warning">
                {% if error.messageKey is defined %}
                    {{ error.messageKey|trans(error.messageData) }}
                {% else %}
                    {{ error }}
                {% endif %}
                </div>
            {% endif %}

            <form action="{{ path('login') }}" method="POST" id="page_login">
                <div class="form-group clearfix">
                    <label for="username">Username / Email</label>
                    <div class="input-group clearfix">
                        <input class="form-control" type="text" id="username" name="_username" value="{{ lastUsername|default('') }}" autocomplete="username webauthn">
                        <span class="input-group-addon"><span class="icon-user"></span></span>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label for="password">Password</label>
                    <div class="input-group clearfix">
                        <input class="form-control" type="password" id="password" name="_password" autocomplete="password webauthn">
                        <span class="input-group-addon"><span class="icon-lock"></span></span>
                    </div>
                </div>

                <div class="checkbox">
                    <a class="pull-right" href="{{ path('request_pwd_reset') }}">Forgot password?</a>

                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked" />
                        Remember me
                    </label>
                </div>

                {% if packagist_host and packagist_host in app.request.headers.get('Referer') %}
                    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('Referer') }}" />
                {% endif %}

                <input class="btn btn-block btn-success btn-lg" type="submit" id="_submit" name="_submit" value="Log in" />
            </form>

            <hr>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-6">
            <button id="webauthn_login" class="btn btn-block btn-github btn-primary btn-lg"><span class="icon-webauthn"></span>Log in with Webauthn</button>
        </div>
        <div class="col-md-6">
            <a class="btn btn-block btn-github btn-primary btn-lg" href="{{ path('login_github_start') }}"><span class="icon-github"></span>Log in with GitHub</a>
        </div>
    {% endif %}

    <script nonce="{{ csp_nonce('script') }}" src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
    <script nonce="{{ csp_nonce('script') }}">
        const webauthnLoginButton = document.getElementById('webauthn_login');
        webauthnLoginButton.addEventListener('click', async (event) => {
            event.preventDefault();
            const { startAuthentication } = SimpleWebAuthnBrowser;
            const usernameInput = document.getElementById('_username');
            const optionsRequest = {};
            if (usernameInput && usernameInput.value) {
                optionsRequest.username = usernameInput.value;
            }
            console.log(optionsRequest);
            const resp = await fetch('{{ path('webauthn.controller.security.main.request.options') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(optionsRequest),
            });

            let attResp;
            try {
                attResp = await startAuthentication(await resp.json());
            } catch (error) {
                throw error;
            }

            // POST the response to the endpoint that calls
            // @simplewebauthn/server -> verifyAuthenticationResponse()
            const verificationResp = await fetch('{{ path('webauthn.controller.security.main.request.result') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(attResp),
            });

            // Wait for the results of verification
            const verificationJSON = await verificationResp.json();
            if (verificationJSON && verificationJSON.status === 'ok') {
                window.location.href = "{{ path('home') }}";
            }
        });
    </script>
{% endblock %}
